*{
	margin: 8px auto;
	max-width: 1000px;
	padding: 0 8px;
	color: white;
}
html, body{
	height: 100%;
	display: block;
}
h1 {
	max-width: 1000px;
}
body {
	background-color: rgb(27, 27, 27);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.navbar {
	justify-content: center;
	display: flex;
	margin-top: 2px;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}
.navbar a {
	text-align: center;
	display: inline-block;
	padding: 1em;
}
.navbar a.active {
	background-color: rgb(85, 83, 83);
}
.navbar a:hover {
	background-color: rgb(85, 83, 83);
}